doctype html
html(lang="en")
	head
		block title
			title [3] CLAIM - Viewer - Show people
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="format-detection", content="telephone=no")
		// Favicon and touch icons
		link(rel="stylesheet", href="assets/styles/frontend/bootstrap/bootstrap.min.css")
		link(rel="stylesheet", href="assets/styles/frontend/styles.css")
		link(rel="stylesheet", href="assets/styles/frontend/jquery.mCustomScrollbar.min.css")
	body
		include ../section/menu-slidebar.jade
		include ../section/showpeople.jade
		//javascript dev
		script(type="text/javascript",src="assets/scripts/frontend/jquery-v1.11.2.min.js")
		script(type="text/javascript",src="assets/scripts/frontend/jquery.mCustomScrollbar.concat.min.js")
		script(type="text/javascript",src="assets/scripts/frontend/bootstrap/bootstrap.min.js")
		script(type="text/javascript",src="assets/scripts/frontend/main.js")
