.swiper-slide{
	&:first-child{
		.box-deck{
			img{
				border: 0;
			}
		}
	}
}
.slides-partner{
	margin-left: 60px;
	padding: 30px 40px;
	position: relative;
	.swiper-container{
		overflow-x: hidden;
		overflow-y: auto;
	}
	.swiper-button-prev,
	.swiper-button-next{
		position: absolute;
		top: 50%;
		width: 51px;
		height: 67px;

	}
	.swiper-button-prev{
		left: 0px;
		background: url(../../images/desk/prev.png) no-repeat;
	}
	.swiper-button-next{
		right: 0;
		background: url(../../images/desk/next.png) no-repeat;
	}
}
.trustful{
	.left,
	.right{
		display: inline-block;
		cursor: pointer;
	}
	.right{
		margin-left: 40px;
	}
	.left,
	.right {
			p{
				border: 1px solid $line;
				font-size: 13px;
				padding: 5px 7px; 
				span{
					display: inline-block;
					border-left: 1px solid $line;
					padding-left: 6px;
					margin-left: 8px;
				}
			}
	}
	.right{
		p{
			background: #f7f9fc;
		}
	}
}
.list-user{
	width: 76px;
	li{
		&:last-child{
			position: relative;
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(17, 17, 17,0.5);
			}
			&:before{
				content: "+";
			    font-size: 16px;
			    color: #fff;
			    font-weight: 400;
			    text-align: center;
			    height: 25px;
			    line-height: 23px;
			    text-align: center;
			    display: block;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    z-index: 99;
			    transform: translate(-50%, -50%);
			}
		}
	}
}