.main-content.main-content--diaram
	.container
		div(class="search-long search-long--feature")
			form
				input(type="search")
				button 
					img(src="assets/images/icon/search.png" alt="search")
		.block
			.diaram
				.diaram__inner
					.diaram__row
						.diaram__item_wrap
							.black-box.diaram__item
								h2 Investment thesis 1
								.diaram__popup-item
									.div-wrap
										img(src="assets/images/slideimg.png", alt="sdsd")
									.short-wrap
										span.text Lorem ipsum dolor sit amet, consectetur adipisicing elit
										a.text-link(href="#") More  › 
							.diaram__row
								.diaram__item_wrap
									.red-box.diaram__item 
										h2 problem  exists 2
										.diaram__popup-item
											.div-wrap
												img(src="assets/images/slideimg.png", alt="sdsd")
											.short-wrap
												span.text Lorem ipsum dolor sit amet, consectetur adipisicing elit
												a.text-link(href="#") More  › 
									.diaram__row
										.diaram__item_wrap
											.diaram__item 
												h2 finance 3
												.diaram__popup-item
													.div-wrap
														img(src="assets/images/slideimg.png", alt="sdsd")
													.short-wrap
														span.text Lorem ipsum dolor sit amet, consectetur adipisicing elit
														a.text-link(href="#") More  › 
											.diaram__row
												.diaram__item_wrap
													h2.diaram__item finance 4 1
												.diaram__item_wrap
													h2.diaram__item insights 4 1
												.diaram__item_wrap
													h2.diaram__item conversion 4 1
												.diaram__item_wrap
													h2.diaram__item product 4 1
										.diaram__item_wrap
											h2.diaram__item insights 3
											.diaram__row
												.diaram__item_wrap
													h2.diaram__item finance 4
												.diaram__item_wrap
													h2.diaram__item insights 4
												.diaram__item_wrap
													h2.diaram__item conversion 4
												.diaram__item_wrap
													h2.diaram__item product 4
										.diaram__item_wrap
											h2.diaram__item conversion 3
										.diaram__item_wrap
											h2.diaram__item product 3
								.diaram__item_wrap
									h2.blue-box.diaram__item market exists 2
								.diaram__item_wrap
									h2.diaram__item traction & biz model 2
									.diaram__row
										.diaram__item_wrap
											h2.diaram__item finance 3
											.diaram__row
												.diaram__item_wrap
													h2.diaram__item finance 4 k
												.diaram__item_wrap
													h2.diaram__item insights 4 k
												.diaram__item_wrap
													h2.diaram__item conversion 4 k
												.diaram__item_wrap
													h2.diaram__item product 4 k
										.diaram__item_wrap
											h2.diaram__item insights 3
											.diaram__row
												.diaram__item_wrap
													h2.diaram__item finance 4
												.diaram__item_wrap
													h2.diaram__item insights 4
												.diaram__item_wrap
													h2.diaram__item conversion 4
												.diaram__item_wrap
													h2.diaram__item product 4
										.diaram__item_wrap
											h2.diaram__item conversion 3
										.diaram__item_wrap
											h2.diaram__item product 3
											.diaram__row
												.diaram__item_wrap
													h2.diaram__item finance 4 k
												.diaram__item_wrap
													h2.diaram__item insights 4 k
												.diaram__item_wrap
													h2.diaram__item conversion 4 k
												.diaram__item_wrap
													h2.diaram__item product 4 k
								.diaram__item_wrap
									h2.diaram__item product 2




