.main-content
	div(class="search-long search-long--feature sticky search-log-deck--actions search-deck")
		.container
			form
				input(type="search")
				button 
					img(src="assets/images/icon/search.png" alt="search")
	.container
		.block
			form.block__form(action="")
				.block__header
					div.block__title-wrap
						h2.block__title.block__title--view COMPETITIVE LANDSCAPE
						input.hidden.block__title.block__title--edit(type="text",value="COMPETITIVE LANDSCAPE")
						span.toggle__edit(href="#")
							i.fa.fa-pencil
					ul.action
						li.action__item
							a(href="#")
								i.fa.fa-times
								span CANCEL
						li.action__item
							a(href="#")
								i.fa.fa-check
								span DONE
				.devide15
				.block__body
					.block__left
						.img-wrap
							img(src="assets/images/k1.png", alt="")
							label.camera-icon(for="choose-img")
							input#choose-img(type="file")
					.block__right
						.list-file
							ul
								li
									a(href="#")
										span.list-file__icon
											img(src="assets/images/psd.png", alt="")
										span.list-file__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										span.list-file__remove
											i(class="fa fa-trash-o")
								li
									a(href="#")
										span.list-file__icon
											img(src="assets/images/psd.png", alt="")
										span.list-file__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										span.list-file__remove
											i(class="fa fa-trash-o")
								li
									a(href="#")
										span.list-file__icon
											img(src="assets/images/psd.png", alt="")
										span.list-file__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										span.list-file__remove
											i(class="fa fa-trash-o")
								li
									a(href="#")
										span.list-file__icon
											img(src="assets/images/psd.png", alt="")
										span.list-file__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										span.list-file__remove
											i(class="fa fa-trash-o")
							.list-file__add
								label.list-file__button(for="file-input") Add more
								input#file-input(type="file")
								span.list-file__type (.pdf, .jpg, .docx, .xlsx - Under 5MB)
						ul(class="btn-check")
							li
								input(type="checkbox"  name="vehicle" id="want-1")
								label(for="want-1")
									span
									p My Trust Circle only
						div(class="views-info")
							div(class="extras-sparkbars")
								div(class="extras-sparkbar-likes" data-likes="70%")
								div(class="extras-sparkbar-dislikes" data-dislikes="30%")
						.review
							.review__approve.review__item
								ul.list-user
									li
										img(src="assets/images/u1.png", alt="ad")
									li
										img(src="assets/images/u1.png", alt="ad")
									li
										img(src="assets/images/u1.png", alt="ad")
									li
										img(src="assets/images/u1.png", alt="ad")
									li
										img(src="assets/images/u1.png", alt="ad")
								.review__count
									span.count__number 1.5K
							.review__deny.review__item
								ul.list-user
									li
										img(src="assets/images/u1.png", alt="ad")
									li
										img(src="assets/images/u1.png", alt="ad")
									li
										img(src="assets/images/u1.png", alt="ad")
									li
										img(src="assets/images/u1.png", alt="ad")
									li
										img(src="assets/images/u1.png", alt="ad")
								.review__count
									span.count__number 100
				.devide30
				.block__content
					.block__content-text.block__content-view
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium s nisi ut aliquip ex ea comodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit .Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium s nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit .Excepteur sint occaecat cupidatat non proident.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					.block__content-text.hidden.block__content-edit
						textarea
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium s nisi ut aliquip ex ea comodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit .Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium s nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit .Excepteur sint occaecat cupidatat non proident.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				.devide30
				.block__comment
					img(src="assets/images/fa.png", alt="")
		.block__link
			a(href="#")
				i.fa.fa-arrow-left
				| Back to Deck