section(class="profile_deck")
	div(class="news-tab__wrap")
		.decks-top
			ul(class="news-tab__header nav nav-tabs"  role="tablist")
				li
					a(href="#tab1" role="tab" data-toggle="tab") My decks
				li(class="active")
					a(href="#tab2" role="tab" data-toggle="tab") Featured 
				li
					a(href="#tab3" role="tab" data-toggle="tab") Following 
				li
					a(href="#tabAll" id="tabAll") All
			.left-sort
				div(class="treding_tab")
					select(multiple="multiple" id="example-single")
						option(value="Slush 2016") Slush 2016
						option(value="IPP") IPP
						option(value="HATCH") HATCH
						option(value="Finland") Finland
						option(value="Slush 2016") Vietnam
						option(value="Slush 2016") Fintech
						option(value="Slush 2016") Vietnam
						option(value="Slush 2016") Fintech
				div(class="sortby")
					select
						option Newest
						option Most Viewed
						option Most Activity
						option D-Ranking (beta)

		div(class="news-tab__body tab-content")
			div(id="tab1" class="col col2 tab-pane fade active in")
				.main-col
					.col__item
						.box-deck
							a(href="#" class="decks")
								img(src="assets/images/logo/1.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
					.col__item
						.box-deck
							a(href="#" class="decks")
								img(src="assets/images/logo/1.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
					.col__item
						.box-deck
							a(href="#" class="decks")
								img(src="assets/images/logo/1.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
					.col__item
						.box-deck
							a(href="#" class="decks")
								img(src="assets/images/logo/1.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
					.col__item
						.box-deck
							a(href="#" class="decks")
								img(src="assets/images/logo/1.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
					.col__item
						.box-deck
							a(href="#" class="decks")
								img(src="assets/images/logo/1.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
			div(id="tab2" class="col col2 tab-pane fade")
				.main-col
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/5.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/6.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/7.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/5.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
			div(id="tab3" class="col col2 tab-pane fade")
				.main-col
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/7.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/6.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/7.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/6.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/7.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/6.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/7.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
					.col__item
						.box
							a(href="#" class="decks")
								img(src="assets/images/logo/7.png", alt="")
							.box-hover
								.box-item
									.img
										img(src="assets/images/logo/hover-1.png", alt="")
									.text-more
										span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit...
										span 
											a(href="#") More
				.load-more.text-center
					img(src="assets/images/loader.png", alt="loader")



					
