doctype html
html(lang="en")
	head
		block title
			title DropDeck
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="format-detection", content="telephone=no")
		// Favicon and touch icons
		link(rel="stylesheet", href="assets/styles/frontend/bootstrap/bootstrap.min.css")
		link(rel="stylesheet", href="assets/styles/frontend/styles.css")
	body
		include section/menu-slidebar.jade
		.main-content
			div(class="settings-section")
				.container
					.row
						div(class="col-md-offset-1 col-md-9")
							div(class="page-notifications")
								h1.title Notifications
								ul.list-notification
									li
										div.info-notification
											.img
												img(src="assets/images/noti/1.png" alt="")
											.text 
												a(href="#") Vo Viet Anh 
												|has followed 
												a(href="#")	Chan Kiet 
										div.time 5 mins
									li
										div.info-notification
											.img
												img(src="assets/images/noti/1.png" alt="")
											.text Vo Viet Anh has followed 
												a(href="#")	Chan Kiet 
										div.time 5 mins
									li
										div.info-notification
											.img
												img(src="assets/images/noti/1.png" alt="")
											.text Vo Viet Anh has followed 
												a(href="#")	Chan Kiet 
										div.time 5 mins
									li
										div.info-notification
											.img
												img(src="assets/images/noti/1.png" alt="")
											.text Vo Viet Anh has followed 
												a(href="#")	Chan Kiet 
										div.time 5 mins
									li
										div.info-notification
											.img
												img(src="assets/images/noti/1.png" alt="")
											.text Vo Viet Anh has followed 
												a(href="#")	Chan Kiet 
										div.time 5 mins
		//javascript dev
		script(type="text/javascript",src="assets/scripts/frontend/jquery-v1.11.2.min.js")
		script(type="text/javascript",src="assets/scripts/frontend/main.js")