ul.list-notification{
	border-top: 1px solid $line;
	margin-top: 25px;
	li{
		list-style: none;
		border-bottom: 1px solid $line;
		padding: 25px 0;
		&:after{
			content: "";
			display: table;
			clear: both;
		}
	}
	li.load-more{
		text-align: center;
		a{
			display: inline-block;
			border: 1px solid $line;
			padding: 7px 10px;
		}
	}
	.info-notification{
		float: left;
	}
	.img{
		width: 25px;
		height: 25px;
		border-radius: 50%;
		overflow: hidden;
	}
	.img,
	.text{
		display: inline-block;
		vertical-align: middle;
	}
	.text{
		font-size: 16px;
		padding-left: 10px;
		color: #888b90;
		cursor: pointer;
		a{
			color: #4a4a4a;
		}
	}
	.desc{
		padding-left: 40px;
		color: #888b90;
		p{
			font-size: 16px;
			margin-top: 10px;
			margin-bottom: 20px;

		}
		img{
			border: 1px solid $line;
		}
	}
	.time{
		float: right;
		color: #888b90;
		font-size: 14px;
		margin-top: 2px;
	}
}
.comment{
	ul.list-notification{
		border-top: 0;
	}
}